<h1 align="center" class="display-4 mb-5">Sign-Up</h1>
<div style="width:40%; margin: 25px auto" >
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label><b>Email</b></label>
      <input [(ngModel)]="user.email" type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Email" email required autofocus  #email="ngModel">
      <div  *ngIf="email.invalid && (email.dirty ||email.touched)" >
          <div *ngIf="email.errors.required" >
              Email obbligatoria.
          </div>
          <div *ngIf="email.errors.email">
            Email non valida.
          </div>
      </div>
    </div>
    <div class="form-group">
      <label><b>Nome</b></label>
      <input [(ngModel)]="user.name" type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Nome" required #name="ngModel">
        <div  *ngIf="name.invalid && (name.dirty ||name.touched)">
            <div *ngIf="name.errors.required">
                Nome obbligatorio.
            </div>
            <div *ngIf="name.errors.minlength">
                Il nome deve essere lungo almeno 3 caratteri.
            </div>
        </div>
    </div>
    <div class="form-group">
      <label><b>Password</b></label>
      <input  [(ngModel)]="user.password" type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password" minlength="3" required #password="ngModel">
        <div  *ngIf="password.invalid && (password.dirty ||password.touched)">
            <div *ngIf="password.errors.required">
                Password obbligatoria.
            </div>
            <div *ngIf="password.errors.minlength">
                La password deve essere di almeno 3 caratteri.
            </div>
        </div>
    </div>
    <div class="form-group">
      <label><b>Telefono</b></label>
      <input [(ngModel)]="user.phone" type="text" class="form-control form-control-lg" id="phone" name="phone" placeholder="Telefono" required #phone="ngModel" >
        <div  *ngIf="phone.invalid && (phone.dirty ||phone.touched)">
            <div *ngIf="phone.errors.required">
                Il numero di telefono è obbligatorio.
            </div>
        </div>
    </div>
    <div class="form-group">
      <label><b>Indirizzo</b></label>
      <input [(ngModel)]="user.address" type="text" class="form-control form-control-lg" id="address" name="address" placeholder="Indirizzo" required #address="ngModel">
        <div  *ngIf="address.invalid && (address.dirty ||address.touched)">
            <div *ngIf="address.errors.required">
                L'indirizzo è obbligatorio.
            </div>
        </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!form.form.valid" >Sign-Up</button>
    </div>
  </form>
</div>

