<h1 align="center" class="display-4 mb-5">{{title}}</h1>

<div class="row card-deck text-center">
  <div *ngFor="let order of page?.content" class="col-lg-4 ">
    <div class="card mb-4">
      <img height="50%" class="card-img-top" src="{{order.products[0]?.productIcon}}" alt="{{order.products[0]?.productName}}">
      <div class="card-body">
        <h4 class="card-title">{{order.products[0]?.productName}}</h4>
        <div class="text-left">
          <p class="card-test"><strong>Descrizione: </strong>{{order.products[0]?.productDescription}}</p>
          <p class="card-text"><strong>Prezzo: </strong>{{order.products[0]?.productPrice | currency:'EUR':'symbol':'1.2-2'}}</p>
          <p class="card-text"><strong>Disponibilità: </strong>{{order.products[0]?.productStock}}</p>
        </div>
        <br>
        <a routerLink="/product/{{order.products[0]?.productId}}" *ngIf="order.products[0]?.productStatus == 0; else offBlock" class="btn btn-primary btn-lg">Seleziona</a>
        <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Non disponibile</a></ng-template>
      </div>
    </div>
  </div>
</div>

<app-pagination [currentPage]="page"></app-pagination>
